@import "/src/index.scss";

.container {
	position: relative;

	.titre-info {
		width: 70%;
		h1 {
			color: $primary-color;
			font-size: calc(
				18px + (36 - 18) * ((100vw - 375px) / (1440 - 375))
			);
			font-weight: 500;
		}
	}
	.profil {
		position: absolute;
		right: 0;
		top: 0;
	}
}
.collapses {
	display: flex;
	justify-content: space-between;
	gap: 5%;

	.collapse-container {
		width: 50%;
	}
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		.profil {
			display: flex;
			position: static;
			order: 3;
		}
	}
	.collapses {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.collapse-container {
			width: 100%;
		}
	}
}
