// src/components/Tags/Tags.scss
@import 'src/index.scss';

.tags-container {
    margin-bottom: 20px;
  }
  
  .tag {
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    font-size: calc(10px + (14 - 10) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 700;
  }

  
  @media (max-width: 768px) {
    .tag{
    padding: 8px 10px;
    }
  }
