// src/pages/APropos/APropos.scss
@import '/src/index.scss';

.apropos-collapses {
    margin: 30px 80px ;
  }

  @media (max-width: 768px) {

    .apropos-collapses {
      margin: 30px 0px ;
    
    .collapse-button, .collapse-content {
      margin: 0;
    }
  }
}



 
  