// src/components/Collapse/Collapse.scss
@import 'src/index.scss';

.collapse-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .collapse-button, .collapse-content {
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1440 - 375)));
  }

  .collapse-button {
    padding: 10px;
    border: none;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    border-radius: 10px;
    color: white;
    font-weight: 600;
  }

  .collapse-content {
    overflow: hidden;
    max-height: 0;
    font-weight: 400;
    background-color: $secondary-color;

    &.open {
      padding: 20px;
      max-height: 500px;
    }
  }
}

.collapse-icon {
  cursor: pointer;
  transition: transform 0.1s ease;

  &:hover {
    filter: brightness(0.8) hue-rotate(90deg);
  }
}

.rotate {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .collapse-container .collapse-button {
    height: 40px;

  }
  .collapse-button img {
    width: 20px;
  }
}
