@import 'src/index.scss';

header {
  display: flex;
  align-items: center;
  margin: 30px 7%;
  justify-content: space-between;

  .logo img{
    height: calc(30px + 2vw); /* Commence à 30px et augmente avec la largeur du viewport 2%*/
  }

  nav{
    width: 100%;

    ul {
      display: flex;
      list-style: none;
      align-items: center; 
      justify-content: flex-end;
      gap: 25px;

      li {
        a {
          font-size: calc(12px + (24 - 12) * ((100vw - 375px) / (1440 - 375)));
          //calcule une taille de police qui s'ajuste entre 14px et 24px à mesure que la largeur du viewport varie entre 375px et 1440px.
          font-weight: 500;
          text-decoration: none;
          color: black; 


          &:hover, &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  nav ul li a {
    text-transform: uppercase; /* Change le texte en majuscules pour les écrans plus larges */
    font-size: 12px;

  }
}