// src/pages/Erreur404/Erreur404.scss
@import '/src/index.scss';

.erreur-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 30px;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 150px;

    }
    .link {
      color: black;
      font-size: 22px;
    }
  }
  